
$color-secundario: #040a0a;
$color-principal: #bcd0d1;
$color-terciario: rgb(250, 250, 250);
$medida-uni: 4rem;
$color-acor: rgb(97, 130, 212);
$background-color: rgb(235, 208, 199);
$color-tablas: rgba(255, 255, 255, 0.3);
