.nav{
      background-color: rgb (78, 41, 214, 0.1);
	 text-align: center;
	 display: flex;
	 list-style: none;
      justify-content: space-around;

}
.nav-items{
	font-family: 'Roboto', sans-serif; 
	                 font-size: 1.5rem;
	                 color: rgb (255, 255, 255);
	                 text-decoration: none;
	                 text-align: center;
	                 justify-content:space-around;

}

.btn_color{
	background-color: rgb (255, 255, 255);
	border-color: rgb (255, 255, 255);
}
.btn-shop:hover{
	color: beige;
	
}